.game-section {
  position: relative;
  background-color: $white-bg-op;
  border-radius: 20px;
  padding-right: 50px;
  padding-left: 50px;
  text-align: center;
  margin-bottom: 100px;
}

ul.nav-tabs {

  li {
    width: 33%;

    a {
      color: inherit;
      font-size: 16px;
    }

  }
}


.game-titles {
  min-height: 400px;
  clear: both;

  h3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

@media screen and (min-width: 501px){
    .game-title-results {
    list-style-type: none;
    display: inline-block;
    width: 50%;
    padding: 20px;
    padding-bottom: 50px;

    p {
      font-size: 16px;
      font-weight: bold;
      padding-bottom: 15px;
    }

    .img-responsive {
      margin: auto;
    }

    #button {
      margin-top: 20px;
      color: black;
      text-decoration: underline;
      font-size: 16px;
    }

    #button:hover {
      font-weight: bold;
      color: green;
    }

  }
}
}


@media screen and (max-width: 500px) {

  .game-title-results {
    list-style-type: none;
    display: inline-block;
    width: 100%;
    padding: 20px;
    padding-bottom: 50px;
    font-size: 16px;
  }

  .img-responsive {
    margin: auto;
    width: 50%;
  }

  .game-section {
    margin-bottom: 100px;
  }


}
