$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

//Override Bootstrap Variables
@import "variables";

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// additional CSS files
@import "navbar";
@import "game-news";
@import "game-titles";
@import "gameinfo";
@import "videos";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background-image: url('../images/Horizon-Zero-Dawn-Game-Wallpaper.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 100% 100%;
  min-height: 100%;
  min-width: 100%;
}

.container {
  padding: 0px;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  margin-top: 100px;
  background-color: $white-bg-op;
  color: black;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

}
