<div ng-app class="game-news" ng-controller="MainCtrl">
  <h3>Recent Stories</h3>
  <p class="lead">
        <div class="article-data container-fluid" ng-repeat="item in gameNews | limitTo: 6 | filter: {image}">
          <a class="article-image" href="{{item.url}}"><img class="img-responsive" ng-src="{{item.image}}"></a>
          <a id="article-title" href="{{item.url}}"><p>{{item.title}}</p></a>
        </div>
        <!--<button ng-click="prev()">Newer</button>
        <span>{{page}}</span>
        <button ng-click="next()">Older</button>0-->
  </p>
</div>
