<div ng-app class="jumbotron" ng-controller="MainCtrl">
  <h1>Video Game News</h1>
  <p class="lead">
    <div ng-init="website='Polygon'">
      <dl>
        <dt>Title</dt>
        <dd>{{gameNews.articles[0].title}}</dd>
        <dt>Author:</dt>
        <dd>{{gameNews.articles[0].author}}</dd>
        <dt>Description:</dt>
        <dd>{{gameNews.articles[0].description}}</dt>
        <dd><a href="{{gameNews.articles[0].url}}">{{gameNews.articles[0].url}}</a></dd>
        <dd><img class="img-responsive" ng-src="{{gameNews.articles[0].urlToImage}}"></dd>
        <dd>{{gameNews.articles[0].publishedAt}}</dd>
      </dl>
    </div>
  </p>
</div>
