<div class="container gaming-videos" ng-controller="VideosCtrl" aria-label="Recent videos in the video gaming industry">
<div class="row">
  <h3>Recent Gaming Videos</h3>
  <div class="video-data" ng-repeat="item in gameVideos.items">
      <p>{{item.snippet.title}}</p>
      <iframe ng-src="{{getIframeSrc(item.id.videoId)}}" allowfullscreen="allowfullscreen" data-responsive="true"></iframe>
      <!--<a href="https://www.youtube.com/watch?v={{item.id.videoId}}"><img class="img-responsive" ng-src="{{item.snippet.thumbnails.medium.url}}"></a> -->
  </div><!-- end article data -->
</div><!-- lead -->
</div><!-- end game news -->
